.hello,.input_form
{
	text-align:center;
}

.text_input
{
    width: 200px;
    height: 29px;
    font-size: 20px; 
}

.submit_input
{
	background: green;
	border-radius:5px;
	color:yellow;
	border:2px solid yellow;
}
