.text_input
{
    width: 200px;
}

.hello
{
text-align:center;
}

.submit_input
{
	background: green;
	border-radius:5px;
	color:yellow;
	border:2px solid yellow;
}
.input_form
{
	text-align: center;
}